body{
    font-size: 24px;
}

.left{
    display: flex;
    flex-direction: row;
}

.featured{
    color:black ;
    display: flex;
    flex-direction: row;
    padding-left:0px ;
}

.how-to{
    color:black ;
    display: flex;
    flex-direction: row;
    padding-left:30px ;
}

.expert{
    color:black ;
    display: flex;
    flex-direction: row;
    padding-left:40px ;
}

.logo{
    color:black ;
    display: flex;
    flex-direction: row;
}

.right{
    display: flex;
    flex-direction: row;
}

.contact{
    color:black ;
    display: flex;
    flex-direction: row;
    padding-right:8px ;
}

.subscribe{
    color:black ;
    display: flex;
    flex-direction: row;
    padding-right:30px ;
}



.flex {
    background: rgb(255, 255, 238);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
}